.section2 {


    
}

.section2main {
    
}

.titleSeekers {
    text-align: left;
    font-weight: 600;
    font-size: 19px;
}

.columnsSeekers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}