.asideLeft {
    grid-area: asideLeft;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.asideLeftIcons {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
